{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Todo{% endblock %}

{% block content %}
<div class="container pt-5 d-flex flex-column align-items-center">
    <h1>Todo</h1>
    <div class="card w-75">
        <div class="card-header">
            {{ todo.posted_day }}
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ todo.content }}</h2>
            {% if todo.success == False %}
            <div class="d-flex align-items-center">
            <h5 class="mx-2">Deadline:</h5>
            <h5>{{ todo.deadline }}</h5>
            {% else %}
            <h3>Success day: </h3>
            <span>{{ todo.success_day }}</span>
            {% endif %}
            </div>
            <a href="{% url 'todo:update' todo.id %}" class="btn btn-primary">Modify</a>
        </div>
    </div>
</div>
{% endblock %}

