{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}TodoList{% endblock %}

{% block content %}
<section class="text-center container pt-4 sticky-top">
    <div class="pt-5">
        <form action="{% url 'todo:create' %}" method="POST" >{% csrf_token %}
            <div class="input-group mb-2">
                {{ form.content|add_class:"form-control"|attr:"autofocus"|attr:"rows:1" }}
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit"><i class="bi bi-plus-square"></i></button>
                </div>
            </div>
        </form>
    </div>
</section>

{% include "todo/todo_list.html" with subtitle="ToDo" todo_list=guest_todo type="guest" %}
{% endblock content %}