{% extends 'base.html' %}

{% load static %}

{% block title %}home{% endblock %}

{% block extra-style %}
<style>
.GUchoice{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
</style>
{% endblock %}

{% block content %}

    <div class="GUchoice row text-center justify-content-md-center align-middle">
        <div class="card col-lg-2 m-5 border border-warning" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Guest mode</h5>
              <p class="card-text">기록한 할 일들이 저장되지 않습니다.
                <br>그리고 할 일들을 기록하는 것 외에 추가적인 기능을 제공하지 않습니다.</p>
            </div>
            <button type="button" class="btn btn-outline-warning my-3" data-toggle="modal" data-target="#guestmode">
                Start Guest Mode
              </button>
        </div>
        <div class="card col-lg-2 m-5 border border-info" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">User mode</h5>
              <p class="card-text">기록한 할 일들은 저장됩니다.
                <br>기록된 할 일들은 3가지로 분류됩니다. 분류 기준은 다음과 같습니다.
                <br>1. Doing: 마감기한이 설정되지 않거나 지나지 않은 할 일.
                <br>2. Success: Doing에 저장된 할 일들 중 성공처리가 된 할 일.
                <br>3. Fail: Doing에 저장된 할 일들 중 마감기한이 지난 할 일.</p>
            </div>
            <button type="button" class="btn btn-outline-info my-3" data-toggle="modal" data-target="#usermode">
                Start User Mode
              </button>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="guestmode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guest Mode</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center  ">
          Guset Mode로 시작하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div class="start_btn">
            <form action="{% url 'todo:guest' %}" method="GET">
                <button type="submit" class="btn btn-warning text-white">Start</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="usermode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Mode</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          User Mode로 시작하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div class="start_btn">
            <form action="{% url 'user:login' %}" method="GET">
                <button type="submit" class="btn btn-info text-white">Start</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


