{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h1>Profile</h1>
    <div class="card">
        <div class="card-body row">
            <h2 class = "col-sm-3 ml-3">Username</h2>
            <div class="col-sm-5 mt-2">
                {{ user_obj.username }}
            </div>
        </div>
        <div class="card-body row">
            <h2 class = "col-sm-3 ml-3">First Name</h2>
            <div class="col-sm-5 mt-2">
                {{ user_obj.first_name }}
            </div>
        </div>
        <div class="card-body row">
            <h2 class = "col-sm-3 ml-3">Last Name</h2>
            <div class="col-sm-5 mt-2">
                {{ user_obj.last_name }}
            </div>
        </div>
        <div class="card-body row">
            <h2 class = "col-sm-3 ml-3">Email</h2>
            <div class="col-sm-5 mt-2">
                {{ user_obj.email }}
            </div>
        </div>
        <div class="card-body row">
            <h2 class = "col-sm-3 ml-3">Gender</h2>
            <div class="col-sm-5 mt-2">
                {{ user_obj.gender }}
            </div>
        </div>
        <div class="card-body row">
            <h2 class = "col-sm-3 ml-3">Birthday</h2>
            <div class="col-sm-5 mt-2">
                {{ user_obj.birthday }}
            </div>
        </div>
        <div class="card-body row">
            <h2 class = "col-sm-3 ml-3">Bio</h2>
            <div class="col-sm-5 mt-2">
                {{ user_obj.bio }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-3 col-sm-5">
                <input type="submit" value="Profile Update" class="btn btn-info" onclick="location.href='{% url 'user:profileupdate' %}'"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}

