{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Profile Update{% endblock %}

{% block content %}
<div class="container">
    <h1>Profile Update</h1>

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">Wrong! Please correct the error(s) below.</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" class="card pt-3">{% csrf_token %}

        <div class="form-group row">
            {{ form.first_name|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.first_name|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.last_name|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.last_name|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.email|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.email|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.gender|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.gender|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.birthday|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.birthday|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.bio|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.bio|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-3 col-sm-5">
                <input type="submit" value="Update" class="btn btn-info"/>
                <input type="button" value="Password Change" class="btn btn-warning" onclick="location.href='{% url 'user:passwordupdate' %}'"/>
            </div>
        </div>

    </form>
</div>
{% endblock %}

