{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container pt-5 mb-5 h-100">
    <h1>Profile</h1>
    <div class="card border-secondary mb-3 w-100">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Username</h5>
            <h4 class="card-text text-dark">{{ user_obj.username }}</h4>
        </div>
    </div>
    <div class="card border-secondary mb-3 w-100">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">First Name</h5>
            <h4 class="card-text text-dark">{{ user_obj.first_name }}</h4>
        </div>
    </div>
    <div class="card border-secondary mb-3 w-100">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Last Name</h5>
            <h4 class="card-text text-dark">{{ user_obj.last_name }}</h4>
        </div>
    </div>
    <div class="card border-secondary mb-3 w-100">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Email</h5>
            <h4 class="card-text text-dark">{{ user_obj.email }}</h4>
        </div>
    </div>
    <div class="card border-secondary mb-3 w-100">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Gender</h5>
            <h4 class="card-text text-dark">{{ user_obj.gender }}</h4>
        </div>
    </div>
    <div class="card border-secondary mb-3 w-100">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Birthday</h5>
            <h4 class="card-text text-dark">{{ user_obj.birthday }}</h4>
        </div>
    </div>
    <div class="card border-secondary mb-3 w-100">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Bio</h5>
            <h4 class="card-text text-dark">{{ user_obj.bio }}</h4>
        </div>
    </div>
    <div class="h-25 pt-5">
        <input type="submit" value="Profile Update" class="btn btn-info" onclick="location.href='{% url 'user:profileupdate' %}'"/>
    </div>
</div>
{% endblock %}
